.loginform {
  display: flex;
  flex-direction: column;
  border: 0.5px solid gray;
  border-radius: 3;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 330px;
  align-items: center;
  margin-bottom: 10px;
}

.input_form {
  padding: 0 10px 0 10px;
}

.email_wrap .pwd_wrap {
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
}

.form_label {
  font-size: 14px;
}

.LoginButton {
  width: 310px;
  height: 25px;
}

.email {
  width: 290px;
  height: 35px;
  background-image: url("../../../public/assets/email_icon.png");
  background-size: 16px 16px; /* 이미지 크기 설정 */
  background-repeat: no-repeat;
  background-position: 4px center; /* 아이콘 위치 조정 */
  padding-left: 24px; /* Input 텍스트와 아이콘 사이 간격 조정 */
  border: none;
  border-bottom: 1px solid #d9d9d9;
  font-size: 14px;
}

.password {
  width: 290px;
  height: 35px;
  background-image: url("../../../public/assets/password_icon.png");
  background-size: 16px 16px; /* 이미지 크기 설정 */
  background-repeat: no-repeat;
  background-position: 4px center; /* 아이콘 위치 조정 */
  padding-left: 24px; /* Input 텍스트와 아이콘 사이 간격 조정 */
  border: none;
  border-bottom: 1px solid #d9d9d9;
  font-size: 14px;
}

.checkmessage {
  color: red;
  font-weight: 500;
  font-size: 11px;
  margin-left: 10px;
}
